{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "es6": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "no-param-reassign": "off",
    "prettier/prettier": ["error"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "no-prototype-builtins": "off"
  }
}
